######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Node.js
node_modules/
ewem-ui/node_modules/
ewem-ui/dist/
ewem-ui/.cache/

######################################################################
# Documentation and Design Files (allow design diagrams)
*.log
*.xml.versionsBackup
*.swp

!*/build/*.java
!*/build/*.html
!*/build/*.xml

# Allow design and documentation files
!*.png
!*.docx
!*.puml
!*.drawio
!*.drawio.svg
!*.md

######################################################################
# Old project directory (to be removed)
ewem-fabric-trace-java/
